.quotation {
    font-style: italic;
    color: rgb(90, 90, 90);
}

.quotation:hover {
    cursor: pointer;
    border-bottom: dashed 2px rgb(90, 90, 90);
}

#content {
    display: flex;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    flex-flow: row nowrap;
    flex-direction: row;
    overflow-x: scroll;
    margin-top: 25px;
    column-gap: 10px;
    padding-bottom: 15px;
}

#content .scene {
    padding: 15px;
    background-color: rgb(220, 220, 220);
    border-left-color: rgb(40, 40, 40);
    border-left-style: solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 350px;
    min-width: 350px;
}

#content .scene h1 {
    font-size: larger;
    margin: 0px;
}

#content .scene p {
    margin: 0px;
    margin-top: 5px;
    font-size: large;
}